{% extends "base.html" %}




{% block content %}
  
  
<div id="container">

 
  <div id="internalContent">
    <div id="internalContentBox" align="center">
      <div id="internal_content_box"> 
   
           
  
<strong>You have successfully logged out of Tangaza.</strong>
       
         <br><br>    
      <div class="alignClear"></div>

        <div class="alignClear"></div>
      </div>

      <div id="buttons">
        <div id="button2"></div>
      	<div class="alignClear"></div>
     </form> 
      </div>
      <div class="alignClear"></div>
      
      
      <div class="alignClear"></div>
        </div>
  </div>
{% endblock %}

 

  
