{% extends "base.html" %}

{% block top %}
<div id="header">
    	<a href="/"><img class="alignLeft" src="/media/images/top_other_pages.jpg" alt="internal top" width="778" height="194"></a>

        <div class="alignClear"></div>
    </div>
{% endblock %}

{% block content %}

<div id="container">
	    
    <div id="internalContent">
          <div id="internalContentBox" align="center">
       	    <div id="top_box_terms"><img src="/media/images/top_box_terms.jpg" width="698" height="47" alt="internal top box"></div>
            <div id="content_box_terms"><br><br>
                  <b>Introduction</b><br>
Welcome to the Canola Theme Maker free online service, which is operated by the OpenBossa Labs (http://www.openbossa.org/) and Nokia Technology Institute (http://
www.indt.org.br).
By using the Canola Theme Maker service, you, the User, signify your agreement to these terms of use. If you do not agree to these terms of use, you may not use the Canola Theme
Maker service. We reserve the right, at our sole discretion, to change, modify, add, or delete portions of these terms of use at any time, without notice.<br><br>
<b>TERMS OF USE</b><br>Canola Theme Maker grants you a personal, non-exclusive, limited license to access and use the Canola's DESIGN SHEET and THEME MAKER GUIDELINE solely for your personal,
noncommercial use, in order to create your own Canola theme.<br><br><b>Publishing Your Theme</b><br>You can allow the publication of your theme in Canola Web-site (http://openbossa.indt.org.br/canola), in order to share the work made by you, with a Creative Commons license
(more about here: www. creativecommons.org). In this way. your copyright will be kept but allow people to copy and distribute your work provided they give you credit — and only on
the conditions you specify when you give us the permission to publish your theme.<br><br><div id="box_license"><b><img src="/media/licenses/images/licenses_1.jpg"><br><br>ATTRIBUTION NON-COMMERCIAL NO DERIVATIVES (by-nc-nd)</b><br>This license is the most restrictive of our six main licenses, allowing redistribution. This license is often called the “free advertising” license because it
allows others to download your works and share them with others as long as they mention you and link back to you, but they can’t change them in any
way or use them commercially.</div><br><br> <div id="box_license"><b><img src="/media/licenses/images/licenses_2.jpg"><br><br>ATTRIBUTION NON-COMMERCIAL SHARE ALIKE (by-nc-sa)</b><br>This license lets others remix, tweak, and build upon your work non-commercially, as long as they credit you and license their new creations under the
identical terms. Others can download and redistribute your work just like the by-nc-nd license, but they can also translate, make remixes, and produce
new stories based on your work. All new work based on yours will carry the same license, so any derivatives will also be non-commercial in nature. </div><br><br> <div id="box_license"><b><img src="/media/licenses/images/licenses_3.jpg"><br><br>ATTRIBUTION NON-COMMERCIAL (by-nc)</b><br>This license lets others remix, tweak, and build upon your work non-commercially, and although their new works must also acknowledge you and be
non-commercial, they don’t have to license their derivative works on the same terms.</div><br><b>Your Use of the Site and Site Content</b><br>All content appearing on the Site, including without limitation all text, logos, images, user interfaces, illustrations, photographs, screenshots, icons, trademarks, computer code and
other materials that Canola Theme Maker and its partners make available on or through the Site (collectively “Site Content”), and the collection, arrangement and assembly of such Site
Content, is the exclusive property of Canola Theme Maker or its partners. Site Content is protected under copyright, trademark, trade secret, and other laws.<br><br><b>Additional Use Restrictions</b><br>You agree not to use the Site and Canola Theme Maker Service to:
.: violate any local, state, national or international law or regulation;
.: transmit any material that is abusive, harassing, tortuous, defamatory, vulgar, obscene, libelous, invasive of another’s privacy, hateful, or racially, ethnically or otherwise
objectionable;
.: transmit any unsolicited or unauthorized advertising, promotional materials, junk mail, spam, chain letters, pyramid schemes or any other form of solicitation;
.: transmit any material that contains software viruses or any other computer code, file or program designed to interrupt, destroy or limit the functionality of any computer software or
hardware or telecommunications equipment;
.: stalk, harass or harm another individual;
.: impersonate any person or entity or otherwise misrepresent your affiliation with a person or entity; or
.: interfere with or disrupt the Site or servers or networks connected to the Site, or disobey any requirements, procedures, policies, or regulations of networks connected to the Site.<br><br>
         	  <div id="footer_box_terms">
              		<div id="back_button">
                    <!--<a href=".."><img src="/media/images/btn_back2.jpg" alt="back" width="194" border="0" height="42" onClick="history.back();return false;"></a>--></div>
              </div> 
       	    <div class="alignClear"></div>
          </div>

      
    </div>  
{% endblock %}
